BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
DerivePointerAlignment: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
SortIncludes: false
